# System and IDE files
Thumbs.db
.DS_Store
.idea
.vscode
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
/npm-debug.log

/dist/game.js
/dist/game.js.map
dist/assets/maps/sheep-farmer-tiles-extruded.png
